@font-face {
    font-family: 'super';
    src: url(../fonts/Hey\ Comic.otf);
}

@font-face {
    font-family: 'base';
    src: url(../fonts/Roboto-Regular.woff2);
}

@font-face {
    font-family: 'archivo';
    src: url(../fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'lexen';
    src: url(../fonts/LexendDeca-Regular.woff2);
}

body {
    background: url("./../image/Background.png") center/cover no-repeat;
}

.cartoon {
    filter: drop-shadow(0 0 0);
    transition: all 0.15s ease;
}

.cartoon-user {
    filter: drop-shadow(0 0 0);
    transition: all 0.15s ease;
}


.cartoon:hover {
    filter: drop-shadow(2px 4px 0px var(--color-green-900));
    background: var(--color-emerald-400);
}

.cartoon-user path {
    fill: var(--color-orange-50);
}

a:hover .cartoon-user {
    filter: drop-shadow(2px 4px 0px var(--color-orange-950));
}

.logo path {
    cursor: pointer;
}