@font-face {
    font-family: 'super';
    src: url(../fonts/Hey\ Comic.otf);
}

@font-face {
    font-family: 'base';
    src: url(../fonts/Roboto-Regular.woff2);
}

@font-face {
    font-family: 'Jet';
    src: url(../fonts/JetBrainsMono-Regular.woff2);
}

body {
    background: url("./../image/Background.png") center/cover no-repeat;
}

.cartoon {
    filter: drop-shadow(2px 4px 0px var(--color-green-900));
    transition: all 0.15s ease;
}



nav:has(.cartoon:hover) .cartoon {
    background: var(--color-emerald-300);
    scale: 1.05;


}

.cartoon:hover {
    filter: drop-shadow(0 0 0);
    transition: all 0.15s ease;
}

.cartoon-user {
    filter: drop-shadow(2px 4px 0px var(--color-stone-700));
    transition: all 0.15s ease;
}


.cartoon-user path {
    fill: var(--color-orange-50);
}

.cartoon-menu {
    transition: all 0.15s ease;
    filter: drop-shadow(2px 4px 0px var(--color-sky-950));

}


li:has(svg:hover) {
    transition: all 0.15s ease;
    scale: 1.03;
}

svg:hover~.cartoon-menu {
    filter: drop-shadow(0 0 0);
}

a:hover .cartoon-user {
    transition: all 0.15s ease;
    scale: 1.05;
    filter: drop-shadow(0 0 0);
}

.logo path {
    cursor: pointer;
}

section {





    #header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px 6px 30px;
    }



    #info {
        color: var(--primaryColor);
    }


    div#game {
        font-family: 'Jet', monospace;
        line-height: 35px;
        position: relative;
        user-select: none;
    }

    div#game:focus {
        outline: 0;
    }

    #words {
        color: var(--textSecondary);
    }

    #game:focus #words {
        filter: blur(0);
    }

    #focus {
        position: absolute;
        inset: 0;
        text-align: center;
        padding-top: 35px;
        z-index: 8;
        cursor: pointer;
        backdrop-filter: blur(5px);
    }

    #game:focus #focus {
        display: none;
    }

    div.word {
        display: inline-block;
        margin: 0 5px;
        color: var(--color-amber-700);
        font-weight: 600;
        font-size: 1.2rem;
    }

    .letter.correct {
        color: #fff;
    }

    .letter.incorrect {
        color: #f55;
    }

    .letter.invalided {
        position: relative;
        color: #666;
        font-style: italic;
    }

    .letter.invalided::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #f55;
    }



    #cursor {
        width: 2px;
        height: 1.6rem;
        background: var(--color-amber-500);
        position: fixed;
        animation: var(--animate-pulse);
    }

    #game:focus #cursor {
        display: block;
    }

    #game.over #words {
        opacity: .5;
        filter: blur(0px);
    }

    #game.over:focus #cursor {
        display: none;
    }


    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}